.App {
margin: 20px;
}
.text_area_hw{
    width: 200px;
    height: 50px;
}

.text_area_hw:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
.content {
    margin: 5px 0 0 0 ;
}
.content button:hover{
    background-color: #99ff89;
}