.mainContent {
    display: grid;
    grid-template-areas:
        "aff"
        "b";
    grid-gap: 10px;
}

.mainContent_affairs {
    grid-area: aff;
    font-weight: bolder;
}

.mainContent_buttons button {
    grid-area: b;
    margin: 0 10px 0 0 ;
    font-weight: bolder;
}


.content {
    display: grid;
    grid-template-areas: "cn cp ca";
    grid-template-columns: 150px 90px min-content;
}

.content_name {
    grid-area: cn;
}
.content_priority{
    grid-area: cp;
}

.content_action {
    grid-area: ca;
}
.content_action button{
    background-color: #5dff3e;
    font-weight: bold;
}
.content_action button:hover {
    background-color: #ff524f;
    color: white;
    font-weight: bold;
}
